.navbar {
  height: 100vh;
  width: 240px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--card-light);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-blue-7);

  .headerTitle {
    font-weight: 700;
    color: var(--text-light);
  }
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-blue-7);
}

.version {
  background-color: var(--mantine-color-blue-7);
  color: var(--mantine-color-red-0);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--subtext-light);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-blue-7);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--primary);
      color: var(--text-dark);

      .linkIcon {
        color: var(--text-dark);
      }
    }
  }

  .linkLabel {
    font-weight: 600;
  }
}

.linkIcon {
  color: var(--subtext-light);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
